@import "styles/vars";

.layout {
  padding-top: 74px;
}

.btn {
  width: 129px;
  height: 40px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: white;
}

.chart {
 padding-bottom: 20px;
}