@import "styles/vars";

.select {
  border: 1px solid var(--catsKillWhite);
  border-radius: 4px;
  min-width: 260px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 16px;
  font-size: 16px;
  color: var(--rollingStone);

  &:focus {
    transition: ease-in;
    border: 1px solid var(--blueRibbon);
  }
}

.disabled-select {
  border: 1px solid var(--catsKillWhite);
  border-radius: 4px;
  min-width: 260px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  padding: 0 16px;
  font-size: 16px;
  color: var(--rollingStone);

  &:focus {
    transition: ease-in;
    border: 1px solid var(--blueRibbon);
  }
}

.date {
  :global(.react-datepicker__current-month) {
    font-weight: 500;
  }

  :global(.react-datepicker) {
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.23);
  }

  :global(.react-datepicker__triangle)::before {
    border-top-color: var(--lightAthensGray) !important;
    border-bottom-color: var(--lightAthensGray) !important;
  }

  :global(.react-datepicker__triangle)::after {
    border-bottom-color: var(--lightAthensGray) !important;
  }

  :global(.react-datepicker__header) {
    border-bottom: 1px solid var(--lightAthensGray);
    background-color: var(--lightAthensGray);
    font-family: "SofiaPro", sans-serif;
  }

  :global(.react-datepicker__day) {
    color: var(--rollingStone);
    font-family: "SofiaPro", sans-serif;

    &:hover {
      background-color: var(--lightAthensGray);
    }
  }

  :global(.react-datepicker__day-name) {
    color: var(--manatee);
  }

  :global(.react-datepicker__day--selected),
  :global(.react-datepicker__day--keyboard-selected) {
    background-color: var(--blueRibbon);
    color: white;

    &:hover {
      transition: ease-in;
      background-color: var(--highBlue);
    }

    &:focus {
      outline: none;
    }
  }

  :global(.react-datepicker__navigation) {
    top: 9px;
  }
  :global(.react-datepicker__day--disabled) {
    color: #ccc;
    &:hover {
      background-color: inherit;
    }
  }
}
