@import "~src/styles/colors";

:local(.input) {
  border: 1px solid @vibrant-blue !important;
  font-size: 16px !important;
}

:local(.input)::placeholder {
  font-size: 16px !important;
}

:local(.crypto) {
  font-size: 16px;
  color: @black;

  img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
  }
}

:local(.web) {
  font-size: 14px;
  color: @battleship-grey;
}
