@import 'src/styles/colors';

:local(.input) {
  border: 1px solid $vibrant-blue !important;
  font-size: 16px !important;
}

:local(.input)::placeholder {
  font-size: 16px !important;
}

:local(.crypto) {
  font-size: 16px;
  color: $black;

  img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
  }
}

:local(.web) {
  font-size: 14px;
  color: $battleship-grey;
}

:local(.scroll) {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

:local(.scroll)::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

:local(.scroll)::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

:local(.scroll)::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $vibrant-blue;
  cursor: pointer;
}

:local(.add) {
  height: 54px;
  width: 54px;
  border: 1px solid $vibrant-blue;
  border-radius: 8px;
  background: white;
  padding: 17px;

  span {
    font-size: 20px;
    color: $vibrant-blue;
  }
}

