@import "styles/vars";


.layout {
  padding-top: 39px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.08);
}

.card-detail {
  padding: 8px 24px;
  margin-top: 20px;
}