@import 'styles/vars';

.select {
  :global(.select__control) {
    cursor: pointer;
    background: white;
    border-color: transparent;
    margin: 0 auto;
    border-radius: 4px;
  }

  :global(.select__control):hover {
    border-color: transparent;
  }

  :global(.select__control):focus {
    border-color: transparent;
  }

  :global(.select__menu) {
    z-index: 10;
    border-radius: 2px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 0 0 0;
    margin-top: 6px;
  }

  :global(.select__menu-list) {
    max-height: initial;
    border-radius: 2px;
    padding: 0;
    box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.09);
  }

  :global(.select__menu-list) {
    :local(.group) {
      display: none;
    }
  }

  :global(.select__option) {
    padding: 9px 8px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  :global(.select__option--is-selected),
  :global(.select__option--is-focused) {
    background-color: white !important;
    color: black;
  }

  :global(.select__option):hover {
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }

  :global(.select__indicator-separator) {
    display: none;
  }

  :global(.select__indicator) svg {
    width: 17px;
    height: auto;
    color: $RollingStone;
  }

  :global(.select__indicator) {
    padding-right: 11px;
  }

  :global(.select__value-container) {
    padding: 2px 12px;
    font-size: 18px;
    font-weight: 500;
  }

  :global(.select__single-value) {
    display: flex;
    align-items: center;
  }

  :global(.select__menu-notice--no-options) {
    font-size: 14px;
  }
}
