@import "styles/vars";

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: $CodGray;
  margin: 10px 0 0 0;
}

.text {
  font-size: 14px;
  line-height: 1.43;
  color: $ShuttleGray;
  margin: 10px 0 0 0;
}

.btn {
  height: 48px;
  border-radius: 8px;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
}