@import "styles/vars";

.main {
  margin-top: 76px;
}

.label {
  font-size: 20px;
  font-weight: 600;
  color: $CodGray;
  margin-top: 2px;
  margin-bottom: 23px;
  display: flex;

  svg {
    width: 18px;
  }

  &-bold {
    font-weight: 500;
    margin-top: 13px;
    margin-bottom: 0;
  }
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: white;
  margin-bottom: 17px;


  &-chart {
    padding: 5px 8px 0 10px;

    canvas, :global(.echarts-for-react) {
      height: 330px !important;
    }
  }

  &-tvl {
    .box-section {
      padding-top: 12px;
      padding-bottom: 16px;
    }
  }

  &-swap {
    margin-top: 12px;
  }
}

.box-title {
  font-size: 16px;
  line-height: 1.5;
  color: $ShuttleGray;
}

.box-value {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: $CodGray;
}

.box-pairs {
  display: flex;

  .pair {
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 1.56;
    color: $CodGray;
    padding: 13px 0;
  }

  .pair:first-child {
    border-right: 1px solid $CatskillWhite;
  }
}

.box-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 0;
}

.box-section:not(:last-child) {
  border-bottom: 1px solid $CatskillWhite;
}

.button-group {
  position: absolute;
  top: 8px;
  right: 25px;
  z-index: 100;

  button {
    margin-left: -5px;
    margin-right: 0;
    width: 48px;
    height: 24px;
    border-radius: 4px;
    font-size: 10px;
    border: 1px solid $CatskillWhite;
    background-color: white;
  }

  :global(.active) {
    background-color: $BlueRibbon;
    color: white;
    position: relative;
  }
}

.table {
  background: white;
  border-radius: 4px;

  tbody > tr td,
  thead > tr th {
    font-size: 16px !important;
    font-weight: normal;
    padding: 0 24px !important;
    height: 50px;
    vertical-align: middle;
  }
}

.td-pair svg {
  width: 14px;
  margin: 1px 6px 0 6px;
}