@import "styles/vars";

.arrow-icon {
  img {
    margin-top: -4px;
  }
  margin-left: 6px;
  margin-right: 6px;
}
.description-overlay {
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  p {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-family: SofiaPro;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin-bottom: -150px;
  }
}

.description-overlay:hover {
  opacity: 1;

  p {
    opacity: 1;
    margin-bottom: 0;
  }
}

.roundImage {
  width: 100%;
  box-sizing: border-box;
  height: 206px;
  display: flex;
  align-items: center;
  margin: 67px 0;
  justify-content: center;
}

.buy-ticket {
  padding-bottom: 24px;
  color: var(--blackToWhite);
  .cost {
    display: flex;
    justify-content: space-between;
    margin: 10px 3px 36px 3px;
  }
  .ticket-input {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;

    div {
      border: 1px solid var(--catsKillWhite);
      border-left: 0;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 10px 12px;
      height: 48px;
    }

    input {
      width: 100%;
      padding: 10px 16px;
      border-radius: 8px;
      height: 48px;
      border: solid 1px var(--catsKillWhite);
      border-top-right-radius: 0;
      background-color: var(--whiteToDarkGray);
      border-bottom-right-radius: 0;
      outline: none;
    }
  }
}

.ticket-icon {
  width: 64px;
  height: 64px;
  background: var(--zumthor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: -5px;
}

.single-ticket-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}

.purchased-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  .bold {
    font-weight: bold;
    color: black;
    font-size: 18px;
    margin-bottom: 6px;
    color: var(--blackToWhite);
  }
  p {
    color: var(--rollingStone);
    margin: 0 50px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 38px;
  }
}

.text-normal {
  font-family: SofiaPro;
  font-weight: normal;
  font-size: 18px;
  color: var(--codGray);
}

.text-bold {
  font-weight: bold;
}

.roundItem {
  width: 100%;
  background-color: var(--white);
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  position: relative;
}

.ctab {
  background: var(--white);
  padding: 14px 24px;
  border-radius: 4px;
}

.input {
  width: 292px;
  input {
    background-color: var(--whiteToDarkGray);
    border: var(--auctionSearchInputBorder);
  }
}

.round-info {
  font-family: SofiaPro;
  .box-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--codGray);
  }

  .info-title {
    font-size: 16px;
    color: var(--rollingStone);
    font-family: SofiaPro;
    display: flex;
    align-items: center;
  }

  & > div {
    padding: 15px 14px;
    border-radius: 4px;
    background: var(--white);
    box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  }

  .winner-info {
    height: 180px;
    padding: 20px 50px;
    text-align: center;

    p:first-child {
      color: var(--codGray);
      font-size: 16px;
      font-weight: 600;
    }

    p {
      color: var(--rollingStone);
    }

    div {
      font-size: 24px;
      font-weight: 600;
      color: var(--codGray);
    }
  }
}

.gift-icon {
  position: absolute;
  left: 0;
  top: -45px;
}

.participants-row {
  margin-bottom: -15px;
}

@media (max-width: $md) {
  .participants-row {
    margin-bottom: 0;
  }

  .winner-info {
    margin-top: 15px !important;
  }

  .tabs {
    nav {
      margin-bottom: 20px;
    }
  }
}

.winner-info-about {
  background-color: var(--white);
  border-radius: 4px;
  height: 178px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
}

.winner-info-about-items {
  height: 140px;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  text-align: center;
  p:first-child {
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--codGray);
  }
  p:not(:first-child) {
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: var(--rollingStone);
  }
  span {
    font-family: SofiaPro;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: var(--codGray);
  }
}

.first-info-box {
  margin-bottom: 24px;
}

.infos {
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--codGray);
}
