@import "styles/vars";

.input {
  width: 100%;
  border: 1px solid var(--catsKillWhite);
  border-radius: 8px;
  outline: none;
  color: var(--codGray);
  padding-right: 16px;
  padding-left: 16px;
  transition: ease-in;
  background-color: var(--whiteToDarkGray);
}

.input:focus {
  border: 1px solid var(--blueRibbon);
  outline: none;
}

.input::placeholder {
  color: var(--manatee);
}
