@import "styles/vars";
.main {
  background-color: var(--white);
  color: var(--blackToWhite);
  input {
    background-color: var(--whiteToDarkGray);
  }
}
.item {
  color: var(--blackToWhite);
  &:hover {
    background-color: var(--lightAthensGray);
  }
}
.submit {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--blueRibbon);
  background-color: var(--whiteToGray);
  border: none;
  outline: none;
  box-shadow: var(--boxShadow);
  border-top: 1px solid var(--catsKillWhite);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 20;

  span {
    font-size: 14px;
    font-weight: 500;
    margin-top: 2px;
  }
}

.scroll {
  overflow-y: auto;
  max-height: 447px;
  margin: 0 -17px;
}

.select-logo {
  display: flex;
  align-items: center;
  padding: 10px 17px;
  transition: ease-in;
  cursor: pointer;
  font-weight: 500;

  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 1;
    margin-top: -1px;
  }

  img:nth-child(2) {
    margin-right: 10px;
    margin-left: -10px;
    z-index: 0;
  }
}

.select-logo:hover {
  background-color: var(--lightAthensGray);
}
