@import "styles/vars";

.layout {
  padding-top: 63px;
  padding-bottom: 200px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: var(--codGray);
}

.container-proposals {
  margin-top: 40px;
}

.btn {
  width: 144px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
}
.loading {
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  :global(.select__control) {
    width: 137px;
    height: 40px;
    border: solid 1px var(--catsKillWhite);
    border-radius: 4px;

    :global(.select__value-container) {
      padding: 0 14px;
    }
  }

  :global(.select__control):hover {
    border: solid 1px var(--catsKillWhite);
  }

  :global(.select__value-container),
  :global(.select__option) {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 14px;
    color: var(--codGray) !important;
  }

  :global(.select__menu-list) {
    border-radius: 4px;
    box-shadow: 0 4px 20px 0 rgba(134, 146, 164, 0.17);
    padding: 10px 0;
  }
}

.no-data-container {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  margin-top: 16px;
}
