@import "styles/vars";

.card {
  width: 360px;
  height: auto;
  padding: 24px 15px;
  border-radius: 12px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: var(--white);
  margin: 82px 0;

  @media (max-width: $sm) {
    margin: 45px 0;
  }
}

.destination-input {
  background-color: var(--whiteToDarkGray);
}

.amount-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.max-btn {
  font-family: SofiaPro;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--codGray);
  &-container {
    display: flex;
    align-items: center;
  }
  &-area {
    height: 15px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 9px;
  }
  &-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid var(--codGray);
    &-container {
      margin-top: 7px;
      margin-left: 2px;
    }
  }
}

.container {
  border-radius: 8px;
  background-color: var(--lightAthensGray);
  border: 1px solid var(--catsKillWhite);
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.convert-btn {
  box-shadow: none;
  padding: 0 16px;
  justify-content: space-between;
  background-color: var(--whiteToDarkGray);

  :global(.icon-angle-down) {
    font-size: 10px;
    color: var(--codGray);
  }
}

.currency {
  font-size: 18px;
  font-weight: 500;
  color: var(--codGray);
  margin-left: 6px;
}

.icon {
  text-align: center;
  padding: 14px 0;

  span {
    font-size: 14px;
    cursor: pointer;
  }
}

.input {
  height: 48px;
  font-size: 20px;
}

.show-info {
  width: 330px;
  height: 116px;
  border-radius: 8px;
  border: 1px solid var(--catsKillWhite);
  background-color: var(--lightAthensGray);
  margin-top: 24px;
  padding: 0 16px 0 16px;
  &-item:first-child {
    margin-top: 9px;
  }
  &-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 24px;
    margin-bottom: 10px;
    &-text {
      font-family: SofiaPro;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      color: var(--rollingStone);
    }
    &-number {
      font-family: SofiaPro;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      color: var(--codGray);
    }
  }
}

.submit-btn {
  margin-top: 16px;
}
