@import "styles/vars";

.box {
  border: 1px solid $CatskillWhite;
  border-radius: 8px;
  padding: 7px 20px 9px 16px;
}

.amount {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.43;
  color: $Manatee;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  font-size: 24px;
  color: $CodGray;
  height: 30px;
  padding-right: 12px;
  border: none;
  outline: none;
  padding-left: 0;

  &:focus {
    outline: none;
    border: none;
  }
}

.input::placeholder {
  color: $Aluminium;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-width: 90px;
  border: 1px solid $CatskillWhite;
  border-radius: 8px;
  padding: 0 4px;
  font-size: 18px;
  color: $CodGray;
}