@import 'styles/vars';

.label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: $CodGray;
  margin-bottom: 10px;
}

.select {
  width: 154px;
  height: 38px;
  border: 1px solid $CatskillWhite;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px 0 12px;
  cursor: pointer;
  font-size: 18px;
  color: $CodGray;

  :global(.icon-angle-down) {
    font-size: 10px;
  }
}

.hr {
  margin: 24px -17px 23px;
  border-top: 1px solid $CatskillWhite;
}

.current {
  margin-top: 14px;
}

.btn {
  width: 100%;
  font-size: 18px;
  margin-top: 24px;
}

.footer-section {
  width: 100%;
  height: 78px;
  background-color: $AthensGray;
  border: 1px solid $CatskillWhite;
  border-radius: 8px;
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.footer-items {
  height: 62px;
  margin-top: 5px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inpool {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  margin-bottom: 10px;
  font-family: SofiaPro;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: $CodGray;
  div {
    display: flex;
    flex-direction: row;
    div:first-child {
      width: 20px;
      height: 20px;
      margin-right: 6px;
      margin-top: 3px;
    }
  }
}

.footer-first-section {
  display: flex;
  flex-direction: row;
}
.footer {
  &-code {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $CodGray;
    margin-left: 3px;
  }

  &-balance {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: $CodGray;
  }
}
.inpool-logo {
  margin-top: -10px;
}
