@import "styles/vars";

.connecting {
  height: 54px;
  border: 1px solid var(--catsKillWhite);
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 22px;

  span {
    margin-left: 10px;
  }

  button {
    color: var(--codGray);
    font-size: 12px;
    font-weight: 500;
    width: 74px;
    height: 32px;
    border-radius: 8px;
    margin-left: 9px;
    background-color: var(--catsKillWhite);
    border: 1px solid var(--catsKillWhite);
    outline: none;
  }
}

.error {
  color: var(--punch);
  border: 1px solid var(--punch);
}

.btn {
  width: 100%;
  height: 72px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid var(--catsKillWhite);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: ease-in;
  color: var(--codGray);
  padding: 0 16px;
  margin-bottom: 30px;

  img {
    height: auto;
  }
}

.name {
  font-size: 16px;
  color: var(--codGray);
  font-weight: 500;
}

.msg {
  margin-top: 7px;
  font-size: 14px;
  color: var(--rollingStone);
}
