@import "styles/vars";

.badge {
  border-radius: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px;
  font-size: 14px;
  font-weight: 500;

  &-info {
    background-color: $CatskillWhite;
    color: $ShuttleGray;
  }

  &-success {
    background-color: $SuccessGreen;
    color: white;
  }

  &-danger {
    background-color: $CatskillWhite;
    color: $Punch;
  }
}

