@import "styles/vars";

.badge {
  border-radius: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px;
  font-size: 14px;
  font-weight: 500;

  &-info {
    background-color: var(--catsKillWhite);
    color: var(--rollingStone);
  }

  &-success {
    background-color: var(--successGreen);
    color: white;
  }

  &-danger {
    background-color: var(--catsKillWhite);
    color: var(--punch);
  }
}
