variables:
  imageTag: lumenswap-front:$CI_COMMIT_SHORT_SHA

stages:
  - build

build and deploy:
  only:
    - master
  stage: build
  script:
    - export KUBECONFIG=$MANIFEST_HOME/../config
    - docker build -t $imageTag .
    - helm upgrade lumenswap-front $MANIFEST_HOME/lumenswap-front -n lumenswap-prod --set image.tag=$CI_COMMIT_SHORT_SHA --wait --install --atomic
  tags:
    - runner

