@import "styles/vars";

.label {
  font-size: 18px;
  color: var(--rollingStone);
  margin-bottom: 2px;
}

.asset-name,
.asset-web {
  margin-left: 6px;
}

.asset-name {
  font-size: 18px;
  color: var(--codGray);
}

.asset-web {
  font-size: 16px;
  color: var(--rollingStone);
}

.hr {
  border-top: 1px solid var(--catsKillWhite);
  margin-top: 11px;
  margin-bottom: 13px;
}

.value {
  font-size: 20px;
  color: var(--codGray);
}

.btn {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
}
