@import "styles/vars";

.btn {
  border-radius: 8px;
  box-shadow: 0 9px 40px -4px rgba(15, 48, 168, 0.18);
  height: 48px;
  font-size: 16px;
  transition: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:focus {
  outline: none;
}

.button-primary,
.button-primary:focus {
  background-color: var(--blueRibbon);
  border: 1px solid var(--blueRibbon);
  color: white;
  transition: ease-in;
}

.button-primary:hover {
  background: var(--highBlue);
  border: 1px solid var(--highBlue);
}

.button-secondary,
.button-secondary:focus {
  background-color: var(--zumthor);
  border: 1px solid var(--zumthor);
  color: var(--blueRibbon);
  box-shadow: none;
}

.button-secondary:hover {
  background: var(--zumthor);
  border: 1px solid var(--zumthor);
  color: var(--highBlue);
}

.button-outline {
  background-color: white;
  color: var(--catsKillWhite);
  border: 1px solid var(--catsKillWhite);
  box-shadow: var(--boxShadow);
}

.button-basic {
  background-color: var(--whiteToZumthor);
  color: var(--rollingStone);
  border: 1px solid var(--catsKillWhiteToZumthor);
}

.button-primary-outline {
  background-color: white;
  color: var(--blueRibbon);
  border: 1px solid var(--blueRibbon);
  box-shadow: var(--boxShadow);
}

.button-default {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--codGray);
}

.button-base {
  background: transparent;
  border: transparent;
  padding: 0;
  color: var(--codGray);
  display: flex;
  align-items: center;
}

.button-sell {
  background-color: var(--rose);
  border: 1px solid var(--rose);
  color: white;
}

.button-buy {
  background-color: var(--limeade);
  border: 1px solid var(--limeade);
  color: white;
}

.btn:disabled {
  background-color: var(--catsKillWhite);
  border: 1px solid var(--catsKillWhite);
  color: var(--rollingStone);
  box-shadow: none;
}
