@import "styles/vars";

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: $CodGray;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.subject {
  font-size: 16px;
  color: $ShuttleGray;
  font-weight: normal;
}

.info {
  font-size: 16px;
  color: $CodGray;
  font-weight: normal;

  a {
    text-decoration: none !important;
    color: $BlueRibbon;
    display: flex;
    align-items: center;

    :global(.icon-external) {
      font-size: 18px;
    }
  }
}