@import 'styles/vars';

.item {
  padding-top: 14px;
  cursor: pointer;
}

.btn {
  width: 64px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: none;
  margin-top: 6px;
  &-basic {
    color: $Manatee;
  }
}

.img img {
  border-radius: 50%;
}

.md-item {
  .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: $CodGray;
    margin: 10px 0 0 0;
  }

  .para {
    font-size: 14px;
    line-height: 1.43;
    color: $ShuttleGray;
    margin: 4px 0 0 0;
  }

  .proposal {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #29b87f;
    display: flex;
    align-items: center;
    margin: 22px 0;
  }

  .badge {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: white;
    background-color: #29b87f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
  }

  .info {
    display: flex;
    border-top: 1px solid $CatskillWhite;

    &-col {
      padding: 9px 24px;
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    &-col:first-child {
      border-right: 1px solid $CatskillWhite;
    }
  }

  .value {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.45;
    color: $CodGray;
  }

  .subject {
    font-size: 14px;
    line-height: 1.43;
    color: $ShuttleGray;
    white-space: nowrap;
  }
}

@media (max-width: $md) {
  .info-col {
    padding: 9px 16px;
  }
}
