@import "styles/vars";

.layout {
  padding-top: 65px;
  padding-bottom: 38px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--codGray);
  margin-bottom: 8px;
}

.filter {
  :global(.select__control) {
    width: 144px;
    height: 40px;
    border: solid 1px var(--catsKillWhite);
    border-radius: 4px;

    :global(.select__value-container) {
      padding: 0 14px;
    }
  }

  :global(.select__control):hover {
    border: solid 1px var(--catsKillWhite);
  }

  :global(.select__value-container),
  :global(.select__option) {
    font-size: 14px !important;
    font-weight: normal !important;
    padding: 8px 14px;
  }

  :global(.select__menu-list) {
    border-radius: 4px;
    box-shadow: var(--boxShadow);
    padding: 10px 0;
  }
}

.card {
  margin-top: 14px;
  box-shadow: var(--boxShadow);
  background-color: var(--white);
  border-radius: 4px;
}

.status-cancel {
  color: var(--blueRibbon);
  cursor: pointer;
}

.status-settled {
  color: var(--manatee);
  cursor: not-allowed;
}
