@import "styles/vars";

.layout {
  padding-top: 75px;
  padding-bottom: 200px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  padding: 20px 24px 24px 24px;

  &-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: $CodGray;
    margin: 0;

    &-small {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: $CodGray;
      margin: 0;
    }
  }

  &-desc {
    font-size: 16px;
    line-height: 1.5;
    color: $ShuttleGray;
    margin: 16px 0 0 0;
    font-weight: normal;
  }
}

.btn {
  margin-top: 24px;
  width: 86px;
  height: 40px;
  border-radius: 4px;
  margin-left: auto;

  svg {
    margin-left: 12px;
  }
}