@import "styles/vars";

.echart {
  position: relative;

  :global(.echart-tooltip) {
    box-shadow: none !important;
    padding: 0 !important;
  }

  :global(.chart-first-info) {
    display: block;
    font-size: 18px;
    line-height: 1.56;
    color: var(--codGray);
    font-weight: normal;
  }

  :global(.chart-second-info) {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    color: var(--rollingStone);
  }
}

.default {
  position: absolute;
  top: 0;
  left: 5px;
}

.chart {
  div {
    height: 223px !important;
  }
}
