@import "styles/vars";

.card {
  border: 1px solid var(--catsKillWhite);
  border-radius: 8px;
  padding: 10px 20px 18px 16px;
}

.label,
.balance {
  font-size: 14px;
  line-height: 1.14;
  color: var(--rollingStone);
}

.label {
  font-weight: 500;
}

.input-group {
  margin-top: 14px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center !important;

  input {
    border: none;
    font-size: 24px;
    color: var(--codGray);
    background-color: white;
    width: 0;
    height: 24px;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0 10px 0 0;
  }

  input::placeholder {
    color: var(--bombay);
  }

  input:focus {
    outline: none;
  }
}

.max {
  color: var(--blueRibbon);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  background-color: var(--zumthor);
  border: 1px solid var(--zumthor);
  border-radius: 4px;
  width: 39px;
  height: 20px;
  outline: none;
}

.drop-down {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.89;
  color: var(--codGray);
  margin-left: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 6px;
  }

  span {
    margin-left: 15px;
    font-size: 11px;
  }
}

.drop-down:hover {
  background-color: var(--lightAthensGray);
}

.no-asset-drop-down {
  background-color: var(--blueRibbon);
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  border: 0;
  padding: 5px 10px;

  img {
    margin: 2px 0 1px 6px;
  }
}

.no-asset-drop-down:hover {
  background-color: var(--highBlue);
}
