@import "styles/vars";

.table-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.table-head {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.row-item {
  position: relative;
  display: flex;
  flex: 1;
  padding: 0;
  align-items: center;
  transition: all 0.15s ease-in-out;
  color: $CodGray;
}

.row-item:first-child, .row-item:last-child {
  padding-right: 14px;
  padding-left: 14px;
}

.sell .row-item:first-child, .sell.total {
  color: $Rose;
}

.buy .row-item:first-child, .buy.total {
  color: $Limeade;
}

//header
.heading {
  margin-bottom: 1px;
}

.heading .row-item {
  color: $Manatee;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  justify-content: flex-end;
}

.heading .row-item:first-child {
  justify-content: flex-start;
}

.order-header {

}

.trade-header {

}

//body
.table-body .row-item {
  font-size: 12px;
  justify-content: flex-end;
  font-weight: 400;
}

.table-body .row-item:first-child {
  justify-content: flex-start;
}

.table-trade {
  .table-row:hover {
    background-color: $LightAthensGray;
  }
}

// progress bar
.progress {
  width: 100%;
  margin: 2px 0;
}

.gap {
  padding: 2px 14px;
  display: flex;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
  color: $CodGray;
  padding-right: 6px;
  font-size: 16px;
  font-weight: 600;
}

.buy.total {
  :global(.icon-arrow-down) {
    transform: scaleY(-1);
  }
}

.price {
  color: $Bombay;
  font-size: 14px;
  font-weight: 500;
}