@import 'styles/vars';

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.svg {
  width: fit-content;
  display: block;
  margin: 0 auto;
  position: relative;

  .lusi {
    position: absolute;
    top: 228px;
    left: 250px;
  }
}

.up-down {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}


.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.31;
  text-align: center;
  color: $CodGray;
  margin: 24px 0 0 0;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $ShuttleGray;
  width: 295px;
  display: block;
  margin: 15px auto 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.btn {
  background: $BlueRibbon;
  border-color: $BlueRibbon;
  color: $White;
  font-family: SofiaPro;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;

  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto 0 auto;
  width: 159px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 2px 30px -4px rgba(15, 48, 168, 0.2);

  &:hover {
    color: white;
  }
}


@media (max-width: $md) {
  .svg {
    transform: scale(0.8);
    transform-origin: top left;
    margin-bottom: -70px;
    width: 465px;
  }
}

@media (max-width: $sm) {
  .svg {
    transform: scale(0.6);
    margin-bottom: -150px;
    width: 349px;
  }
}