@import "styles/vars";

.table-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.row-item {
  position: relative;
  display: flex;
  flex: 1;
  padding: 1.5px 0;
  align-items: center;
  transition: all 0.15s ease-in-out;
  color: $CodGray;
}

.row-item:first-child, .row-item:last-child {
  padding-right: 14px;
  padding-left: 14px;
}

.sell .row-item:first-child, .sell.total {
  color: $Rose;
}

.buy .row-item:first-child, .buy.total {
  color: $Limeade;
}

//header
.heading .row-item {
  color: $Manatee;
  font-weight: bold;
  white-space: nowrap;
  font-size: 10px;
  justify-content: flex-end;
}

.heading .row-item:first-child {
  justify-content: flex-start;
}

//body
.table-body .row-item {
  font-size: 12px;
  justify-content: flex-end;
}

.table-body .row-item:first-child {
  justify-content: flex-start;
}

// progress bar
.progress {
  width: 100%;
  margin: 2px 0;
}

.gap {
  padding: 13px 14px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
  :global(.icon-arrow-down) {
    margin-left: 4px;
    margin-right: 7px;
    display: block;
  }
}

.buy.total {
  :global(.icon-arrow-down) {
    transform: scaleY(-1);
  }
}

.price {
  color: $Bombay;
}