@import 'styles/vars';

.main {
  margin-top: 63px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: $CodGray;
  margin-bottom: 0;
}

.link-blue {
  color: $BlueRibbon;
}
.link {
  color: $BlueRibbon;
  text-decoration: none;
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  &:hover {
    text-decoration: none;
    color: $BlueRibbon;
  }
}

.activityTitle {
  font-size: 22px;
  color: $CodGray;
  margin-top: 32px;
  font-weight: 600;
}

.tableContainer {
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  border-radius: 4px;
  background: white;
  margin-top: 6px;
}

.table {
  overflow-y: auto;
  scrollbar-width: none;
  height: auto;
  border-radius: 4px;
  margin-bottom: 50px;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  margin-top: 24px;
  height: 365px;

  &-info {
    padding: 9px 0;
  }

  &-chart {
    padding: 15px 11px 8px 13px;
    font-size: 14px;
    color: $Manatee;
  }
}

.block {
  padding-left: 32px;

  @media (max-width: $md) {
    padding: 12px 24px;
  }

  &-col:not(:last-child) {
    border-right: 1px solid $CatskillWhite;

    @media (max-width: $md) {
      border-right: none;
      border-bottom: 1px solid $CatskillWhite;
    }
  }

  &-subject {
    font-size: 14px;
    color: $Manatee;
  }

  &-info {
    font-size: 20px;
    font-weight: 600;
    color: $CodGray;
    margin-top: 3px;

    span {
      font-size: 14px;
      color: $Manatee;
      font-weight: normal;
    }
  }
}

.statistics {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.c-statistics {
  div {
    color: $Manatee;
  }
}
.statistics-info {
  font-family: SofiaPro;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $CodGray !important;
  span {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $Manatee;
  }
}
.loading-container {
  display: flex;
  justify-content: center;
  width: 100%;
  div {
    margin-top: 320px;
  }
}

.chart-container {
  margin-top: 50px;
}

.volume-info {
  display: flex;
  flex-direction: column;
  &-number {
    font-family: SofiaPro;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: $CodGray;
  }

  &-text {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $ShuttleGray;
  }
}

.chart-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-chart {
  font-family: SofiaPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: $ShuttleGray;
  margin-top: 6px;
}
