@import "styles/vars";

.layout {
  padding-top: 75px;
  padding-bottom: 100px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: var(--codGray);
}

.filter {
  :global(.select__control) {
    width: 137px;
    height: 40px;
    border: solid 1px var(--catsKillWhite);
    border-radius: 4px;

    :global(.select__value-container) {
      padding: 0 14px;
    }
  }

  :global(.select__control):hover {
    border: solid 1px var(--catsKillWhite);
  }

  :global(.select__value-container),
  :global(.select__option) {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 14px;
    color: var(--codGray) !important;
  }

  :global(.select__menu-list) {
    border-radius: 4px;
    box-shadow: 0 4px 20px 0 rgba(134, 146, 164, 0.17);
    padding: 10px 0;
  }
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: var(--white);
  margin-top: 15px;
}
.table {
  overflow: hidden;
  tr {
    th {
      padding-top: 8px;
    }
  }
}
.table tr:first-child {
  line-height: 25px;
}

.table tr td:last-child section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.claimed {
  color: var(--manatee);
}
