@import 'styles/vars';

.main {
  margin-top: 76px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.info-containers {
  margin-top: 23px;
}
.chart-pool {
  background-color: $White;
  border-radius: 4px;
  height: 336px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  span {
    font-family: SofiaPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $CodGray;
    margin-top: 13px;
  }
}
.tvl-info {
  &-container {
    background-color: $White;
    box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
    border-radius: 4px;
    width: 100%;
    height: 132px;
  }
  &-header {
    height: 84px;
    border-bottom: 1px solid $CatskillWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-text {
      font-family: SofiaPro;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $ShuttleGray;
      padding-bottom: 4px;
    }
    &-number {
      font-family: SofiaPro;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: normal;
      text-align: center;
      color: $CodGray;
    }
  }
  &-items {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 47px;
    font-family: SofiaPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $CodGray;
  }
  &-item:first-child {
    border-right: 1px solid $CatskillWhite;
  }
}
.volume-info {
  &-container {
    background-color: $White;
    border-radius: 4px;
    margin-top: 16px;
    width: 100%;
    height: 187px;
    box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
    margin-bottom: 16px;
  }
  &-item:first-child {
    border-bottom: 1px solid $CatskillWhite;
  }
  &-item {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span:first-child {
      font-family: SofiaPro;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: $ShuttleGray;
      padding-bottom: 4px;
    }
    span {
      font-family: SofiaPro;
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: normal;
      text-align: center;
      color: $CodGray;
    }
  }
}
.chart-icon-container {
  width: 56px;
  height: 56px;
  background-color: $CatskillWhite;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-info-container {
  display: flex;
  flex-direction: row;
  &-texts {
    font-family: SofiaPro;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $CodGray;
  }
}

.equal-icon {
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 2px;
}

.refresh-icon {
  margin-left: 4px;
  margin-top: 6px;
  cursor: pointer;
}

.pool-info-container {
  display: flex;
  flex-direction: row;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $Cd;
  margin-top: 13px;
  margin-left: 6px;
  margin-right: 6px;
}
.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 277px;
}
.refresh-logo {
  margin-left: 4px;
  margin-top: 6px;
  cursor: pointer;
}
.pool-info-content {
  font-family: SofiaPro;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $CodGray;
}
.pool-info-code {
  font-size: 14px !important;
  font-weight: normal !important;
}
.c-statistic {
  border-radius: 4px !important;
  div {
    color: $Manatee !important;
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
  }
}

.label {
  font-size: 20px;
  font-weight: 600;
  color: $CodGray;
  margin-top: 2px;
  margin-bottom: 0;
  display: flex;

  svg {
    width: 18px;
  }
}

.btn-primary,
.btn-basic {
  font-size: 16px;
  border-radius: 4px;
  min-height: 40px;
  padding: 5px 10px;
  line-height: 1.2;
}

.btn-basic {
  box-shadow: none;
  margin-left: 8px;
}

.btn-secondary {
  width: 100%;
  height: 32px;
  border-radius: 4px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: white;

  &-liquidity {
    margin-top: 14px;
    padding-top: 10px;

    .pair {
      padding: 13px 0;
    }
  }

  &-fee {
    margin-top: 16.5px;
    padding: 10px 0 14px 0;

    .pair {
      margin-top: 12px;
      margin-bottom: 14px;
      padding: 4px 0;
    }
  }

  &-chart {
    margin-top: 15px;
    padding: 5px 8px 0 10px;
    height: calc(100% - 15px);

    canvas,
    :global(.echarts-for-react) {
      height: 340px !important;
    }
  }
}

.box-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid $CatskillWhite;
  padding-bottom: 15px;
}

.box-title {
  font-size: 16px;
  line-height: 1.5;
  color: $ShuttleGray;
}

.box-value {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: $CodGray;
}

.box-pairs {
  display: flex;

  .pair:first-child {
    border-right: 1px solid $CatskillWhite;
  }
}

.box-btn {
  padding: 0 14px;
}

.pair {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
  color: $CodGray;
}
.title {
  height: 28px;
  font-family: SofiaPro;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 220%;
  letter-spacing: normal;
  color: $CodGray;
  margin-top: 24px;
  margin-bottom: 12px;
}

.no-data-message-container {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: $White;
  border-radius: 4px;
  span {
    font-family: SofiaPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $ShuttleGray;
  }
}

.table {
  border-radius: 4px;
  overflow-y: auto;
  scrollbar-width: none;
  th {
    color: $Manatee;
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
  tr:first-child {
    height: 36px !important;
    th {
      position: relative;
      span {
        position: absolute !important;
        bottom: 0;
      }
    }
  }
  td {
    height: 50px !important;
  }
}

.table::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.tx-link {
  text-decoration: none;
  color: $BlueRibbon;
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  &:hover {
    color: $BlueRibbon;
    text-decoration: none;
  }
}
.table-info-row {
  display: flex;
  flex-direction: row;
  span {
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $CodGray;
  }
  span:first-child {
    margin-right: 6px;
  }
  div {
    width: 14px;
    height: 14px;
    margin-top: 3px;
  }
  span:last-child {
    margin-left: 6px;
  }
}

.pair-data {
  display: flex;
  flex-direction: row;
}

.bread-crumb-container {
  display: flex;
  flex-direction: column-reverse;
}

.tabs {
  nav {
    a:first-child {
      margin-left: 24px;
    }
    a {
      font-size: 16px;
    }
  }
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  margin-bottom: 24px;
  padding-top: 14px;
}

.chart-container {
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: $White;
  border-radius: 4px;
  height: 336px;
  width: 100%;
}
.chart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
}

.btns {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid $CatskillWhite;
  height: 26px;
}
.btn {
  padding-right: 14px;
  padding-left: 14px;
  font-family: SofiaPro;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: $ShuttleGray;
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: $White;
  &-active {
    padding-right: 14px;
    padding-left: 14px;
    font-family: SofiaPro;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: $ShuttleGray;
    cursor: pointer;
    height: 24px;
    display: flex;
    align-items: center;
    background-color: $BlueRibbon;
    border-radius: 4px;
    color: $White;
  }
}

.values {
  display: flex;
  flex-direction: column;
  &-text {
    font-family: SofiaPro;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: $CodGray;
  }
  &-date {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $ShuttleGray;
  }
}

.multi-chart-container {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 106px;
  width: 100%;
  div {
    height: 145px !important;
    cursor: default !important;
  }
}

.loading-container-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
