@import "styles/vars";

.card {
  padding: 10px 6px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: var(--boxShadow);
}
.card-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.title {
  font-size: 14px;
  line-height: 1.43;
  color: var(--rollingStone);
}

.img {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  margin: 8px 0;
}

.value {
  font-size: 14px;
  font-weight: 500;
  color: var(--codGray);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  svg {
    width: 12px;
    height: auto;
    margin-right: 4px;
  }
}
