@import "styles/vars";

.container {
  width: 360px;
}

.card {
  background-color: var(--white);
  padding: 24px 15px;
  border-radius: 8px;
  box-shadow: var(--boxShadow);
  margin-top: 82px;
  position: relative;
  z-index: 1;
}

.info {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--rollingStone);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    font-size: 16px;
    margin-left: 7px;
  }
}

.icon-arrow-down {
  color: var(--blueRibbon);
  font-size: 14px;
  cursor: pointer;
}

.swap-info {
  margin-top: -15px;
}
