@import "styles/vars";

.radio-group {
  label {
    display: block;
    cursor: pointer;
    font-size: 16px;
    color: var(--codGray);

    > span:before {
      content: "";
      display: inline-block;
      vertical-align: -0.25em;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 1px solid var(--bombay);
      margin-right: 5px;
    }

    > input:checked + span:before {
      border-color: var(--blueRibbon);
      background-color: var(--blueRibbon);
      color: white;
      background-image: url("../../assets/images/check-radio.svg");
      background-size: cover;
    }

    > input:disabled + span {
      opacity: 0.5;
    }

    > input:disabled:checked + span:before {
      opacity: 0.8;
    }

    > input {
      display: none;
    }
  }

  label:not(:last-child) {
    margin-bottom: 10px;
  }

  label:last-child {
    margin-bottom: 0;
  }
}
