@import "~bootstrap/dist/css/bootstrap.css";
@import "./fonts";
@import "./colors";
@import "./vars";

html, body {
  font-family: 'Inter', sans-serif;
}

html, body, #root {
  height: 100%;
}

#root {
  min-height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#content {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.center-ver {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-ver-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.td-light {
  color: $battleship-grey !important;
}


.table-scroll {
  overflow-x: scroll;
}

.table-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.table-scroll::-webkit-scrollbar {
  height: 7px;
  background-color: transparent;
}

.table-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $vibrant-blue;
  cursor: pointer;
}

.vertical-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.vertical-scroll::-webkit-scrollbar-track-piece{
  background-color: $so-light-grey-blue;
  border-color: white;
  border-width: 1px 9px 1px 9px;
  border-style: solid;
}

.vertical-scroll::-webkit-scrollbar {
  width: 20px;
  border-width: 5px;
}

.vertical-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $very-light-blue;
  border-color: white;
  border-style: solid;
  border-width: 0.5px 6px 0.5px 6px;
}

.shadow-card {
  box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.08);
  border-radius: 8px;
  background: white;
}

.primary-label {
  font-size: 18px;
  color: $black;
}

.primary-input {
  border-radius: 8px;
  border: 1px solid $very-light-blue;
  height: 54px;
  color: $black;
  font-size: 24px;
}

.primary-input:focus, .primary-input:active {
  box-shadow: none;
  border: 1px solid $very-light-blue;
  //transition: 0.3s ease-in-out;
}

.primary-input::placeholder {
  color: $battleship-grey;
  font-size: 24px;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}


.tooltip-inner {
  background-color: $pale-grey;
  color: $black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  font-size: 12px;
  opacity: 1;
  padding: 8px 20px;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: $pale-grey !important;
}

.rc-switch:focus {
  box-shadow: none !important;
}

.rc-switch:after {
  background-color: $light-grey-blue;
  width: 22px;
  height: 22px;
  box-shadow: none;
}

.rc-switch-checked:after {
  background-color: $vibrant-blue;
}

.rc-switch {
  width: 48px;
  height: 26px;
  line-height: 24px;
  border-radius: 24px 24px;
  background-color: $so-light-grey;
  border: 1px solid $so-light-grey;
}

.rc-switch:hover:after {
  transform: unset !important;
  animation-name: unset;
}

.button-primary-lg {
  height: 54px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 30px -4px rgba(15, 48, 168, 0.2);
  background: $vibrant-blue;
  border: 1px solid $vibrant-blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.button-primary-lg:disabled {
  background-color: $very-light-blue;
  border: 1px solid $very-light-blue;
  cursor: not-allowed;
  box-shadow: none;
}

.loading-btn:disabled {
  color: $vibrant-blue;
}

.btn:focus {
  box-shadow: none;
}

.rc-select {

  .basic-single {
    width: 250px;
  }

  .react-select__control {
    background-color: white;
    border: 1px solid $very-light-blue;
    border-radius: 4px;
    box-shadow: none !important;
    cursor: pointer;
    min-height: 26px;
  }

  .react-select__control:hover {
    border: 1px solid $very-light-blue;
  }

  .react-select__indicator-separator {
    display: none;
  }

  .react-select__placeholder {
    font-size: 15px;
  }

  .react-select__indicator {
    padding-right: 10px;
    padding-left: 0;
  }

  .react-select__indicator svg {
    color: black;
    height: 14px;
    width: 14px;
  }

  .react-select__option input {
    font-size: 14px;
    color: $black;
  }

  .react-select__option {
    cursor: pointer;
  }

  .react-select__option:hover, .react-select__option--is-focused {
    background-color: transparent;
  }

  .react-select__option--is-selected {
    background-color: white !important;
    color: $black;
  }

  .react-select__menu {
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.08);
  }

  .react-select__menu-notice--no-options {
    font-size: 10px;
    color: $black;
  }
}

.popover-inner {
  padding: 5px 10px;
}

.form-group {
  text-align: left;
}

.bm-burger-button {
  display: none;
  height: 24px;
  width: 30px;
  position: absolute;
  right: 27px;
  top: 45px;
  @media (max-width: $lg) {
    display: block;
  }
}

.bm-menu-wrap {
  background: white;
}

.bm-item:focus {
  outline: none;
}
