@import "~bootstrap/dist/css/bootstrap.css";
@import "./fonts";
@import "./colors";

html, body {
  font-family: 'Inter', sans-serif;
}

html, body, #root {
  height: 100%;
}

#root {
  min-height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#content {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.center-ver {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-ver-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.td-light {
  color: @battleship-grey !important;
}


.table-scroll {
  overflow-x: scroll;
}

.table-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.table-scroll::-webkit-scrollbar {
  height: 7px;
  background-color: transparent;
}

.table-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @vibrant-blue;
  cursor: pointer;
}

.shadow-card {
  box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.08);
  border-radius: 8px;
  background: white;
}

.primary-label {
  font-size: 18px;
  color: @black;
}

.primary-input {
  border-radius: 8px;
  border: 1px solid @very-light-blue;
  height: 54px;
}

.primary-input:focus, .primary-input:active {
  box-shadow: none;
  border: 1px solid @vibrant-blue;
}
