$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$BlueRibbon: #0e41f5;
$AthensGray: #f8f9fb;
$LightAthensGray: #f5f5f7;
$DarkAthensGray: #e8ebf1;
$Zumthor: #e3e9ff;
$CodGray: #1d1d1d;
$RollingStone: #767a80;
$CatskillWhite: #ecf0f5;
$Aluminium: #a8acb4;
$Bombay: #aeb1b7;
