@import "styles/vars";

.input-group {
  border: 1px solid var(--catsKillWhite);
  background-color: white;
  border-radius: 8px;
  transition: ease-in;

  input {
    border: none;
    background-color: transparent;
    padding-right: 16px;
    padding-left: 16px;
    color: var(--codGray);
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
  }

  input::placeholder {
    color: var(--bombay);
  }

  input:focus {
    box-shadow: none;
    background-color: white;
  }

  :global(.input-group-text) {
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--catsKillWhite);
    color: var(--codGray);
    font-size: 16px;
    min-width: 64px;
    display: flex;
    justify-content: center;
    border-radius: 0;
  }
}

.input-group-advance {
  border: 1px solid var(--catsKillWhite);
  background-color: var(--lightAthensGray);
  border-radius: 4px;
  transition: ease-in;

  input {
    border: none;
    background-color: var(--lightAthensGray);
    padding-right: 0;
    padding-left: 0;
    color: var(--codGray);
    font-weight: 400;
    direction: rtl;
  }

  input:focus {
    box-shadow: none;
    background-color: var(--lightAthensGray);
  }

  :global(.input-group-text) {
    background-color: var(--lightAthensGray);
    border: none;
    color: var(--bombay);
  }

  :global(.input-group-text):first-child {
    padding-right: 6px;
    padding-left: 10px;
  }

  :global(.input-group-text):last-child {
    padding-right: 10px;
    padding-left: 6px;
  }
}

.input-group-advance:focus-within,
.input-group:focus-within {
  border: 1px solid var(--blueRibbon);
}
