@import "styles/vars";

.main {
  margin-top: 76px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--codGray);
  margin-bottom: 0;
}

.filter {
  :global(.select__control) {
    width: 174px;
    height: 40px;
    border: solid 1px var(--catsKillWhite);
    border-radius: 4px;

    :global(.select__value-container) {
      padding: 0 14px;
    }
  }

  :global(.select__control):hover {
    border: solid 1px var(--catsKillWhite);
  }

  :global(.select__value-container),
  :global(.select__option) {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 14px;
    color: var(--codGray) !important;
  }

  :global(.select__menu-list) {
    border-radius: 4px;
    box-shadow: var(--dropdownBoxShadow);
    padding: 10px 0;
  }
}

.row {
  margin-right: -12px !important;
  margin-left: -12px !important;
  padding-bottom: 79px;
}

.col {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  div {
    margin-top: 320px;
  }
}
.m-t {
  &-col {
    margin-top: 24px;
  }
  &-row {
    margin-top: -6px;
  }
}
