@import 'styles/vars';

.table-container {
  margin-top: 12px;
  background-color: $White;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  max-height: 474px;
  overflow-y: auto;
  scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.main {
  margin-top: 76px;
}

.title {
  height: 30px;
  font-family: SofiaPro;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 200%;
  letter-spacing: normal;
  color: $CodGray;
}

.header-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12px;
}

.btn {
  width: 124px;
  height: 40px;
  border-radius: 4px;
  font-weight: 500;
}

.no-data-message-container {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  span {
    font-family: SofiaPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $ShuttleGray;
  }
}
.table {
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  border-radius: 4px;
  background-color: $White;
  max-height: 474px;
  overflow-y: auto;
  scrollbar-width: none;
  td {
    height: 53px;
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $CodGray;
  }
}
.table::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.tokens {
  display: flex;
  flex-direction: row;
  span {
    margin-left: 6px;
  }
}
.loading-container {
  width: 100%;
  height: 474px;
  background-color: $White;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btns {
  display: flex;
  flex-direction: row;
  div:first-child {
    margin-right: 42px;
  }
  div {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    cursor: pointer;
    color: $BlueRibbon;
  }
}
