@import "styles/vars";

.table-container {
  margin-top: 12px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: var(--boxShadow);
  max-height: 474px;
}

.table-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.main {
  margin-top: 76px;
}

.title {
  height: 30px;
  font-family: SofiaPro;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 200%;
  letter-spacing: normal;
  color: var(--codGray);
}

.header-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12px;
}

.btn {
  width: 124px;
  height: 40px;
  border-radius: 4px;
  font-weight: 500;
}

.table {
  box-shadow: var(--boxShadow);
  border-radius: 4px;
  background-color: var(--white);
  max-height: 474px;
  overflow-y: auto;
  scrollbar-width: none;

  a {
    tr {
      vertical-align: middle;
    }
  }

  td {
    height: 53px;
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--codGray);
  }
}
.table::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.tokens {
  display: flex;
  flex-direction: row;
  span {
    margin-left: 6px;
  }
}
.loading-container {
  width: 100%;
  height: 474px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: var(--boxShadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btns {
  display: flex;
  flex-direction: row;
  div:first-child {
    margin-right: 42px;
  }
  div {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    cursor: pointer;
    color: var(--blueRibbon);
  }
}
