@import "styles/vars";

.box {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: var(--white);
  cursor: pointer;
}

.banner {
  min-height: 198px;
  height: 100%;
  position: relative;
  border-right: 1px solid var(--catsKillWhite);
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-container {
  padding-top: 37px;
  width: 82px;
  display: flex;
  text-align: center;
  flex-direction: column;
  &-title {
    height: 42px;
    margin-top: 1px;
    font-family: SofiaPro;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 185%;
    letter-spacing: normal;
    text-align: center;
    color: var(--codGray);
  }
}

.info {
  padding: 12px 24px 16px 24px;

  &-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.42;
    color: var(--codGray);
    margin: 0;
  }

  &-desc {
    font-size: 16px;
    line-height: 1.5;
    color: var(--rollingStone);
    margin: 14px 0 0 0;
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 32px;
}

.badge {
  background-color: var(--lightAthensGray);
  border-radius: 4px;
  margin-right: 14px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: normal;
  white-space: nowrap;
  margin-top: 8px;
  color: var(--codGray);
  border: var(--auctionInfoBoxBorder);

  &-subject {
    color: var(--rollingStone);
    margin-right: 8px;
  }
}

.status {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0 6px;
  z-index: 1;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 3px;
  }
}

.status-live {
  color: var(--blueRibbon);
  background-color: var(--zumthor);

  .status-circle {
    background-color: var(--blueRibbon);
  }
}

.status-ended {
  color: var(--manatee);
  background: var(--catsKillWhiteToGray);

  .status-circle {
    background-color: var(--manatee);
  }
}

.status-not-started {
  color: var(--punch);
  background: var(--catsKillWhite);

  .status-circle {
    background-color: var(--punch);
  }
}
