@import "styles/vars";

.tolerance {
  color: var(--manatee);
}

.tolerance-items {
  display: flex;
  span {
    color: var(--manatee);
    border-radius: 4px;
    background-color: #f7f8fa;
    padding: 2px 6px;
    font-size: 12px;
  }

  span:not(:last-child) {
    margin-right: 6px;
  }

  .selected,
  .selected > span {
    background-color: var(--blueRibbon);
    color: white;

    input {
      background-color: var(--blueRibbon);
      color: white;
      font-size: 12px;
    }
  }
}

.selected {
  input {
    background-color: var(--blueRibbon);
  }
}

.custom {
  width: 80px;
  display: inline-flex;

  input {
    width: 60px;
    border: none;
    outline: none;
    background-color: var(--lightAthensGray);
    color: var(--rollingStone);
    padding-left: 0;
    transition: ease-in;
  }
}
