@import "styles/vars";

.pagination-container {
  margin-left: auto;
  display: flex;

  button {
    border: 0;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: var(--white);

    .arrowLeft {
      transform: rotateZ(180deg);
    }
  }
}

.pagination-items {
  display: flex;
  align-items: center;
  background: var(--white);
  padding: 4px 7px;
  border-left: var(--catsKillWhite) 1px solid;
  border-right: var(--catsKillWhite) 1px solid;
  gap: 5px;
}

.pagination-item {
  color: var(--rollingStone);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SofiaPro;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-spread {
  color: var(--rollingStone);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SofiaPro;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-item:hover,
.pagination-item.active {
  background: var(--zumthor);
  color: var(--blueRibbonToWhite);
}
