@import "styles/vars";

.container {
  padding: 30px 0 24px 0;
}

.text {
  font-size: 16px;
  color: $CodGray;
  margin-bottom: 0;
}

.copy-box {
  font-size: 20px;
  color: $CodGray;
  border: solid 1px $CatskillWhite;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 16px;
  height: 48px;
  margin-top: 6px;

  .icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.note {
  background-color: $AthensGray;
  border: 1px solid $CatskillWhite;
  padding: 5px 8px 15px 10px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.43;
  color: $ShuttleGray;
  margin-top: 24px;
}


.loading {
  display: flex;
  justify-content: center;
  height: 388px;
  padding-top: 167px;
}

.status-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: $CodGray;
  margin-top: 10px;
  margin-bottom: 0;
}

.status-desc {
  font-size: 14px;
  line-height: 1.43;
  color: $ShuttleGray;
  margin-top: 10px;
  margin-bottom: 0;

  span {
    color: $CodGray;
  }
}

.detail-btn {
  width: 143px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 32px auto 0 auto;
}