@import "styles/vars";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chart-container {
  flex: 1;
  position: relative;
}

.legend {
  position: absolute;
  left: 16px;
  top: 28px;
  font-size: 10px;
  font-weight: 500;
  color: var(--manatee);
  z-index: 10;
}

.value {
  // color: var(--rose);
}

.box-time {
  display: flex;
  margin-left: 12px;
}

.Rectangle {
  margin-right: 4px;
  padding: 4px 6px;
  border-radius: 2px;
  color: var(--rollingStone);
  font-size: 10px;
  cursor: pointer;
}

.active {
  font-weight: 500;
  color: $CodGray;
  background-color: $CatskillWhite;
}
