@import 'styles/vars';

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}

.next-btn {
  width: 131px;
  height: 36px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: $White;
  border-radius: 4px;
  font-family: SofiaPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  border: none;
  color: $BlueRibbon;
  margin-left: 16px;
  span {
    margin-right: 4px;
  }
  &-disabled {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $ShuttleGray;
    width: 131px;
    height: 36px;
    box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
    background-color: $White;
    border-radius: 4px;
    border: none;
    margin-left: 16px;
    cursor: default !important;
    span {
      margin-right: 4px;
    }
  }
}

.prev-btn {
  width: 131px;
  height: 36px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: $White;
  border-radius: 4px;
  font-family: SofiaPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  border: none;
  color: $BlueRibbon;
  span {
    margin-left: 4px;
  }
  &-disabled {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $ShuttleGray;
    width: 131px;
    height: 36px;
    box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
    background-color: $White;
    border-radius: 4px;
    border: none;
    cursor: default !important;
    span {
      margin-left: 4px;
    }
  }
}
.arrow-icon {
  margin-top: -4px;
}
