@import "styles/vars";

.layout {
  padding-top: 61px;
}

.info {
  margin-top: 25px;
  height: auto;

  a {
    text-decoration: none !important;
  }

  :global(.parent) {
    height: auto;
    padding: 0 !important;
  }

  :global(.row-info) {
    padding: 0 24px;
    min-height: 48px;
    font-weight: normal;
    font-size: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--catsKillWhite);
    }
  }
}

.amount {
  display: flex;
  align-items: center;
  white-space: nowrap;

  svg {
    width: 14px;
    height: auto;
    margin: 0 6px;
  }
}
