@import "styles/vars";

.label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--codGray);
  margin-bottom: 10px;
}

.select {
  width: 154px;
  height: 38px;
  border: 1px solid var(--catsKillWhite);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px 0 12px;
  cursor: pointer;
  font-size: 18px;
  color: var(--codGray);

  :global(.icon-angle-down) {
    font-size: 10px;
  }
}

.hr {
  margin: 22px -17px 11px;
  border-top: 1px solid var(--catsKillWhite);
}

.current {
  margin-top: 14px;
}

.btn {
  width: 100%;
  font-size: 18px;
  margin-top: 24px;
}
.footer-inputs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
