@import "styles/vars";

.layout {
  padding-top: 67px;
  padding-bottom: 200px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--codGray);
  margin-bottom: 8px;
}
