.theme-dark:root {
  --tv-color-platform-background: #171b21;
  --tv-color-pane-background: #171b21;
  --tv-color-toolbar-button-text: #e3e9ff;
  --tv-color-toolbar-button-text-hover: #e3e9ff;
  --tv-color-platform-background: #656872;
}
