@import "styles/vars";

.main {
  width: auto;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--blueRibbon);
  color: var(--blueRibbon);
  background-color: var(--white);
  margin-right: 16px;
  font-family: SofiaPro;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}
.items {
  width: 129px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  img {
    border-radius: 50%;
  }
}
