@import "styles/vars";

.alert {
  border: 1px solid var(--catsKillWhite);
  border-radius: 4px;
  color: var(--rollingStone);
  padding: 8px 14px;

  span {
    color: var(--codGray);
  }

  svg {
    margin-right: 6px;
    margin-top: -3px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.input:focus,
.textarea:focus {
  outline: none;
}

.input {
  padding-top: 6px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: var(--lightAthensGray);

  &::placeholder {
    color: var(--bombay);
  }
}

.textarea {
  resize: none;
  font-size: 16px;
  line-height: 1.5;
  color: var(--rollingStone);
  min-height: 168px;

  &::placeholder {
    color: var(--bombay);
  }
}
.text-area-container {
  min-height: 205px;
}

.panel {
  border: 1px solid var(--catsKillWhite);
  border-radius: 8px;

  &-header {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    border-bottom: 1px solid var(--catsKillWhite);
    padding: 14px 24px;
  }

  &-body {
    padding: 32px 24px;
  }
}

.group {
  margin-bottom: 20px;
  input {
    border-radius: 4px;
  }
}

.defaultInput {
  background-color: var(--lightAthensGray) !important;
  color: var(--rollingStone) !important;
  cursor: default;
}

.btn-dashed {
  margin-top: 24px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px dashed var(--bombay);
  color: var(--manatee);

  &:focus {
    outline: none;
  }
}

.submit {
  margin-top: 40px;
  width: 160px;
  height: 40px;
  border-radius: 4px;
}

.plus-icon-container {
  margin-right: 5px;
  height: 18px;
  img {
    margin-top: -10px;
  }
}

.error-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  background-color: var(--lightRed);
  align-items: center;
  flex-direction: row;
  margin-top: 32px;
  &-icon {
    margin-right: 6px;
    margin-left: 8px;
  }
  &-text {
    color: var(--punch);
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
}
