@import "styles/vars";

.main {
  margin-left: 20.625%;
  margin-right: 20.625%;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.title {
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 31px;
}

.status {
  display: flex;
  align-items: center;
  font-family: SofiaPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  border-radius: 4px;
  height: 24px;
  display: flex;
  align-items: center;
  padding: 0px 6px 0px 6px;

  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
  }

  &.live {
    color: var(--blueRibbon);
    background-color: var(--zumthor);

    .dot {
      background-color: var(--blueRibbon);
    }
  }

  &.ended {
    color: var(--manatee);
    background: var(--catsKillWhiteToGray);

    .dot {
      background-color: var(--manatee);
    }
  }

  &.notStarted {
    color: var(--punch);
    background: var(--catsKillWhiteToGray);

    .dot {
      background-color: var(--punch);
    }
  }
}

.board {
  font-family: SofiaPro;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--codGray);
}

.tableContainer {
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  border-radius: 4px;
  background: var(--white);
}

.ticketId {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--blueRibbon);
}

.input {
  margin-top: 16px;
  margin-right: 24px;
  min-width: 292px;
  width: 297px;
  border-radius: 4px;

  input {
    border-radius: 6px;
    width: 100%;
    background-color: var(--whiteToDarkGray);
    border: var(--auctionSearchInputBorder);
  }
  input::placeholder {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--manatee);
  }
}

.inputContainer {
  width: 100%;
  background: var(--white);
  display: flex;
  flex-direction: row-reverse;

  .table-title {
    font-family: SofiaPro;
    margin-left: 24px;
    font-size: 16px;
    color: var(--codGray);
    font-weight: 600;
  }
}

.table {
  overflow-y: auto;
  scrollbar-width: none;
  height: auto;
  border-radius: 4px;
  table {
    width: 100% !important;
    min-width: 712px;
    tr {
      th {
        border-radius: 0px !important;
      }
      th:not(:first-child) {
        span {
          margin-left: 50px;
        }
      }
      th:last-child {
        span {
          margin-left: 24px;
        }
      }
      td:not(:first-child) {
        section {
          margin-left: 50px;
        }
      }
      td:last-child {
        section {
          margin-left: 24px;
        }
      }
    }
    a {
      height: 52px !important;
      tr {
        td {
          vertical-align: middle;
        }
      }
    }
  }
}

.button {
  border-radius: 4px;
  padding: 12px 32px;
  height: 40px;
}

.table::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.table::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.noDataMessage {
  font-family: SofiaPro;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--rollingStone);
  margin-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: $lg) {
  .round-info {
    padding-left: 9px;
  }
}

@media (max-width: $xl) {
  .main {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media (max-width: $lg) {
  .round-prize {
    padding-right: 0;
  }

  .round-info {
    padding-left: 0;
    margin-top: 20px;
  }
}

.bread {
  font-size: 24px !important;
}
@media (max-width: $md) {
  .round-prize {
    padding-right: 0 !important;
  }

  .title {
    height: initial;
    align-items: baseline;
  }

  .round-info {
    margin-top: 20px;
  }

  .main {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.show-eye-icon {
  cursor: pointer;
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    div {
      margin-top: -5px;
    }
  }
}

.show-ticket-modal {
  &-main {
    :global(.modal-content) {
      background-color: transparent;
      border: none;
    }
    section {
      background-color: var(--whiteToDarkGray);
      border-radius: 12px 12px 0px 0px;
    }
    :global(.modal-body) {
      padding: 0 !important;
    }
  }
  h2 {
    font-family: SofiaPro;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
  }
}

@media (max-width: $sm) {
  .input {
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 910px) {
  .show-eye-icon {
    cursor: pointer;
    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
  }
}
