@import "styles/vars";
.main {
  margin-left: 297px;
  margin-right: 297px;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.title {
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 31px;
}

.board {
  font-family: SofiaPro;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $CodGray;
}

.table {
  overflow-y: auto;
  scrollbar-width: none;
  height: auto;
  max-height: 593px;
  table {
    width: 100% !important;
    min-width: 712px;
    tr {
      th {
        border-radius: 0px !important;
      }
    }
    a {
      height: 52px !important;
      tr {
        td {
          vertical-align: middle;
        }
      }
    }
  }
}
.table::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.table::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.noDataMessage {
  font-family: SofiaPro;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $ShuttleGray;
  margin-top: 40px;
}

@media (max-width: $md) {
  .main {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 363px) {
  .input {
    margin-top: 62px;
  }
}
