@import "styles/vars";

.table {
  margin-top: 10px;
  overflow-y: hidden !important;

  tr:first-child {
    line-height: 38px !important;
    height: 38px !important;
  }
}

.link {
  text-decoration: none !important;
  color: var(--blueRibbon);

  &:hover {
    color: var(--blueRibbon);
  }
}
.bread-crumb {
  margin-top: 29px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  border-radius: 4px;
  box-shadow: var(--boxShadow);
  background-color: var(--white);

  &-table {
    padding-top: 10px;
  }
}

.tabs nav {
  margin-left: 24px;
}

.input {
  margin-right: 16px;
  display: flex;
  align-items: center;
  span {
    font-family: SofiaPro;
    margin-left: 24px;
    font-size: 16px;
    color: var(--codGray);
    font-weight: 600;
  }
  input {
    border-radius: 6px;
    margin-left: auto;
    width: 290px !important;
    background-color: var(--whiteToDarkGray);
    border: var(--auctionSearchInputBorder);

    @media (max-width: $lg) {
      width: 100% !important;
    }
    @media (max-width: $sm) {
      width: 150px !important;
      font-size: 12px !important;
      height: 30px !important;
    }
  }
}
.sort-text {
  color: var(--blackToWhite);
}
