@import "styles/vars";

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: var(--codGray);
  margin-top: 10px;
  margin-bottom: 0;
  font-family: SofiaPro;
}

.desc {
  font-size: 14px;
  line-height: 1.43;
  color: var(--rollingStone);
  margin-top: 10px;
  margin-bottom: 0;
  font-family: SofiaPro;
  span {
    color: var(--codGray);
  }
}

.btn {
  width: 143px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 32px auto 0 auto;
  font-size: 15px;
  font-weight: 500;
  font-family: SofiaPro;
}

.fail-btn {
  width: 122px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 32px auto 0 auto;
  font-size: 15px;
  font-weight: 500;
  font-family: SofiaPro;
}
