@import "styles/vars";

.btn {
  width: 100%;
  font-size: 18px;
  margin-bottom: 24px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: var(--codGray);
  margin: 10px 0 32px 0;
}
