@import 'styles/vars';

.loading {
  color: $BlueRibbon;
  position: sticky;
  border: 2px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 0.7s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
