@import "styles/vars";

.tooltip {
  color: var(--codGray);
  font-size: 13px;
  font-family: "SofiaPro", sans-serif !important;
  background-color: var(--white);
  span {
    color: var(--blueRibbon);
    font-weight: bold;
  }
}

@media (max-width: $lg) {
  .echart {
    :global(.echarts-for-react) {
      height: auto !important;
    }
  }
}
.chart-container {
  canvas {
    width: 100% !important;
  }
}

.fullScreenMask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 1000;
}
.CCard {
  height: 360px;
  box-shadow: none !important;
}
