@import "styles/vars";

.container {
  display: inline-block;
  vertical-align: middle;
}

.hidden-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  clippath: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  border-radius: 2px;
  transition: all 150ms;
  border: 1px solid $Bombay;
  cursor: pointer;
}

.svg {
  fill: none;
  stroke: $BlueRibbon;
  stroke-width: 3px;
  vertical-align: top;
}

.label {
  color: var(--manatee);
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: fit-content;
}
