@import "styles/vars";

.layout {
  padding-top: 63px;
  padding-bottom: 200px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: $CodGray;
}

.container-proposals {
  margin-top: 40px;
}