@import "styles/vars";

.main {
  margin-top: 76px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--codGray);
  margin-bottom: 0;
}

.filter {
  :global(.select__control) {
    width: 174px;
    height: 40px;
    border: solid 1px var(--catsKillWhite);
    border-radius: 4px;

    :global(.select__value-container) {
      padding: 0 14px;
    }
  }

  :global(.select__control):hover {
    border: solid 1px var(--catsKillWhite);
  }

  :global(.select__value-container),
  :global(.select__option) {
    font-size: 14px;
    font-weight: normal;
    padding: 8px 14px;
    color: var(--codGray) !important;
  }

  :global(.select__menu-list) {
    border-radius: 4px;
    box-shadow: var(--dropdownBoxShadow);
    padding: 10px 0;
  }
}

.row {
  padding-right: 3px !important;
  padding-left: 3px !important;
  padding-bottom: 79px;
}

.col {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  div {
    margin-top: 320px;
  }
}
.m-t {
  &-col {
    margin-top: 24px;
  }
  &-row {
    margin-top: -6px;
  }
}

.collection-info {
  &-main {
    width: 100%;
    min-height: 454px;
    margin-bottom: 32px;
    background-color: var(--white);
    box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-banner {
    img {
      width: 100%;
      height: 180px;
      border-radius: 4px 4px 0 0;
    }
  }
  &-thumbnail {
    position: absolute;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 135px;
    img {
      width: 98px;
      height: 98px;
    }
  }
  &-title {
    font-family: SofiaPro;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    height: 30px;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: var(--codGray);
    margin-top: 51px;
  }
  &-creator-info {
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: var(--rollingStone);
    margin-top: 4px;
    span {
      color: var(--blueRibbon);
      font-weight: 500;
    }
  }
  &-description {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    min-height: 40px;
    text-align: center;
    color: var(--rollingStone);
    margin-top: 19px;
  }
  &-stats {
    &-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 24px;
    }
    display: flex;
    min-width: 388px;
    flex-direction: row;
    justify-content: space-between;
    &-item {
      display: flex;
      flex-direction: column;
      svg {
        margin-left: 2px;
        margin-bottom: 2px;
        width: 14px;
        height: 15px;
      }
      &-info {
        font-family: SofiaPro;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        color: var(--codGray);
        height: 30px;
      }
      &-title {
        font-family: SofiaPro;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        height: 20px;
        color: var(--manatee);
      }
    }
  }
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  input {
    width: calc(100% - 198px) !important;
    height: 40px !important;
    border-radius: 4px !important;
    border: solid 1px var(--catsKillWhite) !important;
    background-color: var(--white);
  }
  input::placeholder {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--manatee);
  }
}

@media screen and (max-width: 450px) {
  .search-container {
    flex-direction: column;
    input {
      width: 100% !important;
    }
    .filter {
      margin-top: 10px;
      :global(.select__control) {
        width: 100%;
        height: 40px;
      }
    }
  }
  .collection-info {
    &-stats {
      min-width: 100%;
      flex-wrap: wrap;
      &-item {
        float: left;
        padding: 20px 20px 20px 20px;
      }
    }
  }
}
