@import "styles/vars";

.label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: $CodGray;
  margin-bottom: 10px;
}

.inpool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: normal;
  color: $CodGray;
  margin-top: 15px;
}

.pair{
  display: flex;
  align-items: center;

  &-img {
    height: 20px;
    margin-right: 6px;
  }
}

.hr {
  margin: 22px -17px 11px;
  border-top: 1px solid $CatskillWhite;
}

.current {
  margin-top: 16px;
}

.btn {
  width: 100%;
  font-size: 18px;
  margin-top: 24px;
}