@import "styles/vars";

.header-title {
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $CodGray;
}
.rows {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
}

.main {
  width: 100%;
  height: 178px;
  background-color: $White;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: row;
  span {
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $ShuttleGray;
  }
}
.row {
  display: flex;
  justify-content: space-between;
}