@import "styles/vars";

.header-title {
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--codGray);
}

.rows {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.main {
  width: 100%;
  height: 178px;
  background-color: var(--white);
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;

  span {
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--rollingStone);
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.ticket-id {
  display: flex;
  align-items: center;
  font-family: SofiaPro;
  color: var(--blueRibbon) !important;
}

.infos {
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--codGray);
}

.align-center {
  display: flex;
  align-items: center;
}

.bordered {
  height: 48px;
}

.bordered:not(:last-child) {
  border-bottom: 1px solid var(--catsKillWhite);
}

.icon {
  margin-top: -8px;
}
