@import "styles/vars";

.card {
  border-radius: 2px;
  background-color: white;
}

.card-left {
  padding: 8px 0 6px 0;
}

.card-right {
  height: 100%;
  padding: 8px 14px 6px 14px;
}

.trade-container  {
  margin-right: -14px;
  margin-left: -14px;
}