@import "styles/vars";

.row {
  margin-right: -4px;
  margin-left: -4px;

  :global(.c-col) {
    padding: 0 2px 4px 2px !important;
  }
}

.card {
  border-radius: 2px;
  background-color: white;
  height: 100%;
}

.card-left {
  padding: 8px 0 6px 0;
}

.card-right {
  padding: 8px 14px 6px 14px;
}

.card-detail {
  padding: 11px 16px 14px 16px;
}

.trade-container {
  margin-right: -14px;
  margin-left: -14px;
}

.card-table {
  padding: 16px 24px 8px 14px;
  position: relative;
}

.container-checkbox {
  position: absolute;
  top: 16px;
  right: 29px;
}

.td-outside {
  margin-left: -20px;
  position: absolute;
}

.container-table {
  margin-left: 63px;
  margin-top: 12px;
}

.card-select {
  background-color: white;
  display: grid;
  align-items: center;
}

.select-logo {
  display: flex;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 1;
    margin-top: -1px;
  }

  img:last-child {
    margin-right: 10px;
    margin-left: -10px;
    z-index: 0;
  }
}

.card-chart {
  padding: 8px 0 0 2px;
  height: auto;
}

.card-input {
  padding: 22px 14px 20px 14px;
  height: auto;
}

.button {
  height: 34px;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
}

.form-title {
  font-size: 16px;
  font-weight: 500;
  color: $CodGray;
}

.form-value {
  font-size: 14px;
  font-weight: 500;
  color: $RollingStone;
  margin-top: 4px;
}