@import "styles/vars";

.row {
  margin-right: -4px;
  margin-left: -4px;

  :global(.c-col) {
    padding: 0 2px !important;
  }
}

.card {
  border-radius: 2px;
  background-color: white;
  margin-top: 4px;
}

.card-left {
  padding: 8px 0 6px 0;
}

.card-right {
  padding: 8px 14px 6px 14px;
}

.card-detail {
  padding: 11px 16px 14px 16px;
}

.trade-container {
  margin-right: -14px;
  margin-left: -14px;
}

.card-table {
  padding: 16px 24px 8px 14px;
  position: relative;
}

.container-checkbox {
  position: absolute;
  top: 16px;
  right: 29px;
}

.td-outside {
  margin-left: -20px;
  position: absolute;
}

.container-table {
  margin-left: 63px;
  margin-top: 12px;
}