@import "styles/vars";

.dropdown-container {
  background: var(--white);
  width: 144px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
  font-family: SofiaPro;
  font-size: 14px;
  border: solid 1px var(--catsKillWhiteToDark);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  color: var(--blackToWhite);
}

.dropdown-content {
  z-index: 10;
  transition: 0.2s all ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: var(--white);
  padding: 14px;
  width: 144px;
  border-radius: 4px;
  left: 0;
  top: 0;
  box-shadow: var(--boxShadow);

  &.active {
    visibility: visible;
    top: 50px;
    opacity: 1;
  }
}

.dropdown-icon {
  user-select: none;
}

.dropdown-item:not(:last-child) {
  margin-bottom: 16px;
}
