.main {
  width: 100%;
  height: 246px;
  background-color: var(--white);
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.link:hover {
  text-decoration: none;
}

.banner-container {
  height: 110px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
  }
}

.thumbnail-container {
  width: 100%;
  height: 64px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
  img {
    width: 74px;
    height: 74px;
  }
}

.title {
  margin-top: 40px;
  font-family: SofiaPro;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--codGray);
}

.collection-creator-info {
  margin-top: 8px;
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--rollingStone);
  span {
    color: var(--blueRibbon);
  }
}
