@import "styles/vars";

.table-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.tooltip {
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 68px;
  width: 190px;
  justify-content: space-between;
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
      height: 16px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      white-space: nowrap;
      width: auto;
    }
  }
}
.tooltip-container {
  height: 97px;
  min-width: 206px;
  width: auto;
  background-color: var(--rollingStone);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  box-shadow: 0 3px 12px 0 rgba(134, 146, 164, 0.11);
}
.avg-icon {
  margin-right: 2px;
}
.avg-info {
  display: flex;
  flex-direction: row;
  height: 16px;
}
.table-row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  transition: ease-in-out;
  cursor: pointer;
}

.table-head {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  transition: ease-in-out;
}

.row-item {
  position: relative;
  display: flex;
  flex: 1;
  padding: 0;
  align-items: center;
  transition: ease-in-out;
  color: var(--codGray);
}

.row-item:first-child,
.row-item:last-child {
  padding-right: 14px;
  padding-left: 14px;
}

.sell .row-item:first-child,
.sell.total {
  color: var(--rose);
}

.buy .row-item:first-child,
.buy.total {
  color: var(--limeade);
}

//header
.heading {
  margin-bottom: 1px;
}

.heading .row-item {
  color: var(--manatee);
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  justify-content: flex-end;
}

.heading .row-item:first-child {
  justify-content: flex-start;
}

.order-header {
}

.trade-header {
}

//body
.table-body .row-item {
  font-size: 12px;
  justify-content: flex-end;
  font-weight: 400;
}

.table-body .row-item:first-child {
  justify-content: flex-start;
}

.table-trade {
  .table-row:hover {
    background-color: var(--lightAthensGray);
  }
}

// progress bar
.progress {
  width: 100%;
  margin: 2px 0;
}

.gap {
  padding: 2px 14px;
  display: flex;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
  color: var(--codGray);
  padding-right: 6px;
  font-size: 16px;
  font-weight: 600;
}

.buy.total {
  :global(.icon-arrow-down) {
    transform: scaleY(-1);
  }
}

.price {
  color: var(--bombay);
  font-size: 14px;
  font-weight: 500;
}
