@import 'styles/fonts';
@import 'styles/vars';

body {
  background-color: $AthensGray;
  font-family: 'SofiaPro', sans-serif !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
