@import 'styles/fonts';
@import 'styles/vars';

body {
  background-color: $AthensGray;
  font-family: SofiaPro-Regular, sans-serif !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invisible-scroll::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.invisible-scroll::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.invisible-scroll {
  scrollbar-width: none;
}