@import "styles/vars";

.box {
  border: 1px solid $CatskillWhite;
  border-radius: 4px;
  padding: 18px 24px 23px 24px;
}

.label {
  font-size: 16px;
  line-height: 1.5;
  color: $CodGray;
}

.value {
  font-size: 14px;
  line-height: 1.43;
  color: var(--rollingStone);
}

.progress {
  margin-top: 12px;
  background-color: $CatskillWhite;
  height: 3px;
  overflow: initial;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.progress-bar {
  background-color: $BlueRibbon;
  height: 5px;
  overflow: initial;
  border-radius: 15px;
}
