@import "styles/vars";
.container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chart-container {
  flex: 1;
  position: relative;
}

.legend {
  position: absolute;
  left: 16px;
  font-size: 10px;
  font-weight: 500;
  color: $Manatee;
  z-index: 10;
}