@import "styles/vars";

.main {
  margin-top: 84px;
}

.label {
  font-size: 20px;
  font-weight: 600;
  color: $CodGray;
  margin-bottom: 0;
}

.btn {
  width: 124px;
  height: 40px;
  border-radius: 4px;
  font-weight: 500;
}

.search-box {
  display: flex;

  .input {
    margin: 16px 16px 0 auto;
    width: 297px;
  }
}

.table-container {
  margin-top: 12px;
  background-color: $White;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  max-height: 474px;
  overflow-y: auto;
  scrollbar-width: none;
}
.table-container::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}
.table {
  height: 100% !important;
  th {
    color: $Manatee;
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding-top: 12px !important;
    padding-bottom: 6px !important;
  }
  a {
    vertical-align: middle;
    height: 53px !important;
  }
  tr:not(:first-child) {
    height: 53px !important;
  }
  tr:first-child {
    height: 30px !important;
  }
  tr:not(:last-child) {
    height: 47px !important;
    border-bottom:  1px solid $DarkAthensGray;
  }
  tr:first-child {
    border: none;
  }
}


.pair {
  margin-left: 6px;
}

.empty-table-container {
  width: 100%;
  height: 190px;
  background-color: $White;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-family: SofiaPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $ShuttleGray;
  }
}

.pairs {
  display: flex;
  flex-direction: row;
  span {
    margin-left: 6px;
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $CodGray;
  }
}

.balance {
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $CodGray;
}

.loading-container {
  margin-top: 12px;
  width: 100%;
  height: 474px;
  background-color: $White;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btns {
  display: flex;
  flex-direction: row;
  div:first-child {
    margin-right: 42px;
  }
  div {
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    cursor: pointer;
    color: $BlueRibbon;
  }
}