@import "styles/vars";

.main {
  margin-top: 76px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.info-pool {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.btns-container {
  display: flex;
  flex-direction: row;
}

.deposit-btn {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  width: 120px !important;
  height: 40px !important;
  color: $White;
  border-radius: 4px !important;
}
.withdraw-btn {
  font-family: SofiaPro;
  box-shadow: none;
  height: 40px !important;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
}

.pool-info-container {
    display: flex;
    flex-direction: row;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $Cd;
  margin-top: 13px;
  margin-left: 6px;
  margin-right: 6px;
}
.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 277px;
}
.refresh-logo {
  margin-left: 4px;
  margin-top: 6px;
  cursor: pointer;
}
.pool-info-content {
  font-family: SofiaPro;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $CodGray;
}
.c-statistic {
  border-radius: 4px !important;
  div {
    color: $Manatee !important;
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
  }
}

.label {
  font-size: 20px;
  font-weight: 600;
  color: $CodGray;
  margin-top: 2px;
  margin-bottom: 0;
  display: flex;

  svg {
    width: 18px;
  }
}

.btn-primary, .btn-basic {
  font-size: 16px;
  border-radius: 4px;
  min-height: 40px;
  padding: 5px 10px;
  line-height: 1.2;
}

.btn-basic {
  box-shadow: none;
  margin-left: 8px;
}

.btn-secondary {
  width: 100%;
  height: 32px;
  border-radius: 4px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: white;

  &-liquidity {
    margin-top: 14px;
    padding-top: 10px;

    .pair {
      padding: 13px 0;
    }
  }

  &-fee {
    margin-top: 16.5px;
    padding: 10px 0 14px 0;

    .pair {
      margin-top: 12px;
      margin-bottom: 14px;
      padding: 4px 0;
    }
  }

  &-chart {
    margin-top: 15px;
    padding: 5px 8px 0 10px;
    height: calc(100% - 15px);

    canvas, :global(.echarts-for-react) {
      height: 340px !important;
    }
  }
}

.box-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid $CatskillWhite;
  padding-bottom: 15px;
}

.box-title {
  font-size: 16px;
  line-height: 1.5;
  color: $ShuttleGray;
}

.box-value {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: $CodGray;
}

.box-pairs {
  display: flex;

  .pair:first-child {
    border-right: 1px solid $CatskillWhite;
  }
}

.box-btn {
  padding: 0 14px;
}


.pair {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
  color: $CodGray;
}
.title {
  height: 28px;
  font-family: SofiaPro;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 220%;
  letter-spacing: normal;
  color: $CodGray;
  margin-top: 24px;
  margin-bottom: 12px;
}

.no-data-message-container {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  background-color: $White;
  border-radius: 4px;
  span {
    font-family: SofiaPro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $ShuttleGray;
  }
}


.table {
  background-color: $White;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  max-height: 474px;
  overflow-y: auto;
  scrollbar-width: none;
  th {
    color: $Manatee;
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
  tr:first-child {
    height: 36px !important;
    th {
      position: relative;
      span {
        position: absolute !important;
        bottom: 0;
      }
    }
  }
  td {
    height: 50px !important;
  }
}

.table::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}

.tx-link {
  text-decoration: none;
  color: $BlueRibbon;
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  &:hover {
    color: $BlueRibbon;
    text-decoration: none;
  }
}
.table-info-row {
  display: flex;
  flex-direction: row;
  span {
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $CodGray;
  }
  span:first-child {
    margin-right: 6px;
  }
  div {
    width: 14px;
    height: 14px;
    margin-top: 3px;
  }
  span:last-child {
    margin-left: 6px;
  }
}

.pair-data {
  display: flex;
  flex-direction: row;
}