/*sofiaPro*/
@import url('//hello.myfonts.net/count/3d79bf');

@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/SofiaPro/SofiaProExtraLight/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProExtraLight/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/SofiaPro/SofiaProUltraLight/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProUltraLight/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: italic;
  font-weight: 100;
  src: url('../public/fonts/SofiaPro/SofiaProUltraLightitalic/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProUltraLightitalic/font.woff')
      format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/SofiaPro/SofiaProLight/font.woff2') format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProLight/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: italic;
  font-weight: 200;
  src: url('../public/fonts/SofiaPro/SofiaProExtraLightitalic/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProExtraLightitalic/font.woff')
      format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: italic;
  font-weight: 700;
  src: url('../public/fonts/SofiaPro/SofiaProBolditalic/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProBolditalic/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: italic;
  font-weight: 800;
  src: url('../public/fonts/SofiaPro/SofiaProBlackitalic/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProBlackitalic/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/SofiaPro/SofiaProBold/font.woff2') format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProBold/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/SofiaPro/SofiaProBlack/font.woff2') format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProBlack/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: italic;
  font-weight: 600;
  src: url('../public/fonts/SofiaPro/SofiaProSemiBolditalic/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProSemiBolditalic/font.woff')
      format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: italic;
  font-weight: 500;
  src: url('../public/fonts/SofiaPro/SofiaProMediumitalic/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProMediumitalic/font.woff')
      format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/SofiaPro/SofiaProMedium/font.woff2') format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProMedium/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: italic;
  font-weight: 400;
  src: url('../public/fonts/SofiaPro/SofiaProRegularitalic/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProRegularitalic/font.woff')
      format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/SofiaPro/SofiaProRegular/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProRegular/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/SofiaPro/SofiaProSemiBold/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProSemiBold/font.woff') format('woff');
}

@font-face {
  font-family: 'SofiaPro';
  font-style: italic;
  font-weight: 200;
  src: url('../public/fonts/SofiaPro/SofiaProLightitalic/font.woff2')
      format('woff2'),
    url('../public/fonts/SofiaPro/SofiaProLightitalic/font.woff') format('woff');
}

/*Roboto*/
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('../public/fonts/Roboto/roboto-v27-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-100italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-100italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-100italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-100italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-100italic.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/Roboto/roboto-v27-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-300.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/Roboto/roboto-v27-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-300.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/Roboto/roboto-v27-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-100.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-100.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-100.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/Roboto/roboto-v27-latin-100.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-100.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../public/fonts/Roboto/roboto-v27-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-300italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-300italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-300italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-300italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-300italic.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/Roboto/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../public/fonts/Roboto/roboto-v27-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-italic.woff') format('woff'),
    /* Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-italic.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/Roboto/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/Roboto/roboto-v27-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-500.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/Roboto/roboto-v27-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/Roboto/roboto-v27-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-700.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../public/fonts/Roboto/roboto-v27-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-500italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-500italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-500italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-500italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-500italic.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../public/fonts/Roboto/roboto-v27-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-700italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-700italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-700italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-700italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-700italic.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../public/fonts/Roboto/roboto-v27-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-900.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-900.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-900.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/Roboto/roboto-v27-latin-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-900.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../public/fonts/Roboto/roboto-v27-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/Roboto/roboto-v27-latin-900italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/Roboto/roboto-v27-latin-900italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-900italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../public/fonts/Roboto/roboto-v27-latin-900italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../public/fonts/Roboto/roboto-v27-latin-900italic.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

/*icon*/
@font-face {
  font-family: 'icomoon';
  src: url('../public/fonts/Icomoon/icomoon.eot?m9gmgv');
  src: url('../public/fonts/Icomoon/icomoon.eot?m9gmgv#iefix')
      format('embedded-opentype'),
    url('../public/fonts/Icomoon/icomoon.ttf?m9gmgv') format('truetype'),
    url('../public/fonts/Icomoon/icomoon.woff?m9gmgv') format('woff'),
    url('../public/fonts/Icomoon/icomoon.svg?m9gmgv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wallet:before {
  content: '\e90d';
}
.icon-plus-circle:before {
  content: '\e90a';
}
.icon-angle-down:before {
  content: '\e900';
}
.icon-arrow-down:before {
  content: '\e901';
}
.icon-arrow-left:before {
  content: '\e902';
}
.icon-arrow-repeat:before {
  content: '\e903';
}
.icon-arrow-right:before {
  content: '\e904';
}
.icon-copy:before {
  content: '\e905';
}
.icon-earth:before {
  content: '\e906';
}
.icon-external:before {
  content: '\e907';
}
.icon-ledger:before {
  content: '\e908';
}
.icon-multiply:before {
  content: '\e909';
}
.icon-question-circle:before {
  content: '\e90b';
}
.icon-shutdown:before {
  content: '\e90c';
}
