:root {
  --white: #ffffff;
  --catsKillWhite: #ecf0f5;
  --codGray: #1d1d1d;
  --darkGray: #212429;
  --blueRibbon: #0e41f5;
  --manatee: #8d8f9a;
  --zumthor: #e3e9ff;
  --bombay: #aeb1b7;
  --punch: #db2f2f;
  --dark-mode-btn-toggle: #ecf0f5;
  --lightAthensGray: #f8f9fb;
  --blueGray: #0c34c3;
  --mischka: #cfd5e2;
  --boxShadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  /*special dark mode and custom colors */
  --whiteToDarkGray: #ffffff;
  --whiteToZumthor: #ffffff;
  --catsKillWhiteToZumthor: #ecf0f5;
  --rollingStoneToBombay: #656872;
  --rollingStoneToWhite: #656872;
  --cccToRollingStone: #ccc;
  --blackToWhite: black;
  --dropdownBoxShadow: 0 4px 20px 0 rgba(134, 146, 164, 0.17);
  --blueRibbonToWhite: #0e41f5;
  --lightRedToDarkGray: #fff2f2;
  --whiteToSuperGray: #ffffff;
  --lightAthensGrayToGray: #f8f9fb;
  --catsKillWhiteToLightGray: #ecf0f5;
  --whiteToGray: #ffffff;
  --blackToBlueRibbon: black;
  --modalBackDrop: #000;
  --codGrayToRollingStone: #1d1d1d;
  --lightAthensGrayToBlackGray: #171b21;
  --modalBackdropOpacity: 0.5;
  --auctionInfoBoxBorder: none;
  --catsKillWhiteToGray: #ecf0f5;
  --auctionSearchInputBorder: 1px solid #eff2f7;
  --lightAthensGrayToDark: #f8f9fb;
  /*not included in dark mode colors */
  --highBlue: #1d42c5;
  --rollingStone: #656872;
  --successGreen: #29b87f;
  --tanHide: #f77f5a;
  --lightRed: #fff2f2;
  --rose: #ea0070;
  --limeade: #74a700;
  --pink: #df4886;
  --absoluteWhite: #ffffff;
}

[data-theme="dark"] {
  --white: #171b21;
  --catsKillWhite: #212429;
  --codGray: #ffffff;
  --darkGray: #0e1116;
  --blueRibbon: #3a66ff;
  --manatee: #656872;
  --zumthor: #252b35;
  --bombay: #656872;
  --punch: #e44545;
  --catsKillWhite: #212429;
  --dark-mode-btn-toggle: #0e1116;
  --lightAthensGray: #0e1116;
  --blueGray: #3a66ff;
  --mischka: #383a42;
  --boxShadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
  /*special dark mode and custom colors */
  --whiteToDarkGray: #0e1116;
  --whiteToZumthor: #252b35;
  --catsKillWhiteToZumthor: #252b35;
  --rollingStoneToBombay: #aeb1b7;
  --rollingStoneToWhite: #ffffff;
  --cccToRollingStone: #656872;
  --blackToWhite: #ffffff;
  --blueRibbonToWhite: #f8f9fb;
  --dropdownBoxShadow: 0 2px 32px 0 rgba(0, 0, 0, 0.39);
  --lightRedToDarkGray: #0e1116;
  --whiteToSuperGray: #12151a;
  --lightAthensGrayToGray: #252b35;
  --catsKillWhiteToLightGray: #665e78;
  --whiteToGray: #252b35;
  --blackToBlueRibbon: #3a66ff;
  --modalBackDrop: #656872;
  --modalBackdropOpacity: 0.3;
  --auctionInfoBoxBorder: 1px solid #212429;
  --codGrayToRollingStone: #656872;
  --lightAthensGrayToBlackGray: #171b21;
  --catsKillWhiteToGray: #252b35;
  --auctionSearchInputBorder: none;
  --lightAthensGrayToDark: #171b22;
}
