$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$White: #ffffff;
$BlueRibbon: #0e41f5;
$AthensGray: #f8f9fb;
$Zumthor: #e3e9ff;
$CodGray: #1d1d1d;
$CatskillWhite: #ecf0f5;
$Bombay: #aeb1b7;
$Punch: #db2f2f;
