@import "styles/vars";

.main {
  margin-top: 76px;
}



.btn {
  width: 135px;
  height: 40px;
  border-radius: 4px;
}
.img-container {
  width: 100%;
  height: 100%;
}
.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  margin-bottom: 24px;

  &-nft {
    height: 100%;
    div {
      width: 100% !important;
      position: relative  !important;
      border-radius: 4px !important;
    }
    img {
      position: relative  !important;
    }
  }

  &-nft-info {
    padding: 12px 16px 26px 16px;
  }

  &-tabs {
    padding-top: 14px;
    margin-top: 24px;
  }
}

.card-2 {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);

  &-nft {
    padding: 18px 35px 20px 35px;
    height: calc(100% - 24px);
  }

  &-nft-info {
    padding: 12px 16px 26px 16px;
  }

  &-tabs {
    padding-top: 14px;
  }
}

.row {
  margin-top: 12px;
  margin-right: -12px !important;
  margin-left: -12px !important;
}


.col {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

.tabs {

  nav {
    a:first-child {
      margin-left: 24px;
    }
    a {
      font-size: 16px;
    }
  }
}

.address {
  a {
    font-family: SofiaPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $BlueRibbon;
    text-decoration: none;
  }
}


.infos {
  font-family: SofiaPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $CodGray;
  a {
    text-decoration: none;
    color: $BlueRibbon;
  }
}
.first-info-box {
  margin-bottom: 24px;
}

.no-data-container {
  width: 100%;
  height: 139px;
  display: flex;
  justify-content: center;
  font-family: SofiaPro;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: $ShuttleGray;
  span {
    margin-top: 30px;
  }
}
.loading-container {
  width: 100%;
  height: 139px;
  display: flex;
  justify-content: center;
  div {
    margin-top: 30px;
  }
}

.table {
  max-height: 361px;
  overflow-y: auto;
  scrollbar-width: none;
  th {
    color: $Manatee;
    padding-top: 15px;
  }
  tr:first-child {
    height: 30px !important;
    line-height: 30px !important;
  }
  tr:not(:first-child) {
    height: 53px !important;
  }
}
.table::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.all-btn {
  margin-bottom: 55px;
}