@import "styles/vars";

.item {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(134, 146, 164, 0.08);
  padding-top: 14px;
}

.btn {
  width: 64px;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: none;

  &-basic {
    color: $Manatee;
  }
}

.img img{
  border-radius: 50%;
}

.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: $CodGray;
  margin: 8px 0 0 0;
}

.para {
  font-size: 14px;
  line-height: 1.43;
  color: $ShuttleGray;
  margin: 8px 0 0 0;
}

.proposal {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: $BlueRibbon;
  display: flex;
  align-items: center;
  margin: 22px 0;
}

.badge {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: white;
  background-color: $BlueRibbon;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.info {
  display: flex;
  border-top: 1px solid $CatskillWhite;

  &-col {
    padding: 12px 24px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &-col:first-child {
    border-right: 1px solid $CatskillWhite;
  }
}

.value {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.45;
  color: $CodGray;
}

.subject {
  font-size: 14px;
  line-height: 1.43;
  color: $ShuttleGray;
  white-space: nowrap;
}

@media(max-width: $md) {
  .info-col {
    padding: 12px 16px;
  }
}