@import "styles/vars";

.roundsList {
  margin-top: 32px;
}

.title {
  font-family: SofiaPro;
  font-size: 18px;
  color: var(--codGray);
  font-weight: 500;
}

.roundImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}
.round-item-main {
  box-shadow: var(--boxShadow);
  border-radius: 4px;
  background-color: var(--white);
  margin-bottom: 32px;
}

.roundItem {
  width: 100%;
  height: 223px;
  padding: 10px 16px;
}
.round-item-info {
  height: 71px;
  border-top: 1px solid var(--catsKillWhite);
  display: flex;
  flex-direction: row;
  &-section {
    width: 50%;
    display: flex;
    align-items: center;
  }
  &-section:first-child {
    border-right: 1px solid var(--catsKillWhite);
  }
  &-texts {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    &-text {
      font-family: SofiaPro;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: var(--rollingStone);
    }
    &-number {
      font-family: SofiaPro;
      font-size: 22px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.45;
      letter-spacing: normal;
      color: var(--codGray);
    }
  }
}

@media (max-width: $sm) {
  .roundItem {
    width: 95%;
  }
}
