@import '~Root/styles/colors';

:local(.content) {
  padding: 23px 18px 30px 18px;
}

:local(.btn) {
  height: 54px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 30px -4px rgba(15, 48, 168, 0.2);
  background: @vibrant-blue;
  border: 1px solid @vibrant-blue;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
}

:local(.btn):focus {
  outline: none;
}

:local(.info) {
  margin-top: 8px;
  font-size: 14px;
  color: @light-grey-blue;
  text-align: right;
  margin-bottom: 0;

  img {
    margin-top: -3px;
  }
}

//:local(.input) {
//  position: relative;
//
//  input {
//    padding: 8px 152px 6px 8px;
//  }
//
//  button {
//    position: absolute;
//    top: 6px;
//    right: 8px;
//    height: 42px;
//    width: 142px;
//  }
//
//  @media (max-width: 1400px) and (min-width: 1200px) {
//    input {
//      padding: 8px 142px 6px 8px;
//    }
//
//    button {
//      width: 132px;
//    }
//  }
//}
//
//:local(.input-btn) {
//  border-radius: 6px;
//  background: @so-light-grey;
//  border: 1px solid @so-light-grey;
//  display: flex;
//  align-items: center;
//  padding: 6px 8px;
//
//  :local(.coin) {
//    width: 24px;
//    height: 24px;
//  }
//
//  :local(.name) {
//    font-size: 14px;
//    font-weight: 500;
//  }
//
//  :local(.web) {
//    font-size: 11px;
//    color: @battleship-grey;
//    margin-top: -5px;
//  }
//}
