@import 'styles/vars';


.main {
    margin-top: 16px;
    width: 157px;
    height: 78px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid $CatskillWhite;
    align-items: center;
    span {
        font-family: SofiaPro;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $Manatee;
        margin-top: 8px;
    }
}
.input-container {
    display: flex;
    flex-direction: row;
    width: 137px;
}
.btns-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $AthensGray;
    border-radius: 4px;
    margin-top: 14px;
}

.btns {
    cursor: pointer;
    color: $ShuttleGray;
}
.input {
    width: 89px;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: $CodGray;
    margin-top: 8px;
}